@page "/"
@page "/articles-list"
@using System.Linq
@using OnlineShop.Ui.Models.Articles
@using OnlineShop.Ui.Components.Abstractions
@inject IArticlesProvider articlesProvider

<div class="container mt-2">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
              <h1>Welcome to our shop of top-up cards!</h1>
            </div>  
        </div>
       <div class="row">
            <div class="col-12">
              &nbsp;
            </div>    
        </div>       
        <div class="row">
           <div class="col-2 d-flex justify-content-start align-items-center p-1">
              <span>Name</span>
            </div>
            <div class="col-3 d-flex justify-content-start align-items-center p-1">
              <span>Description</span>
            </div>
	        <div class="col-2 d-flex justify-content-center align-items-center p-1">
              <span>Price</span>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center p-1">
              <span>Order quantity</span>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center p-1">
              <span>Actions</span>
            </div>            
        </div>

  @foreach (var article in Articles)
  {
	<ArticleDisplay Article="article"/>
  }

</div>

@code {
	public List<Article> Articles { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		Articles = (await articlesProvider.GetArticles()).ToList();		
    }
}
